#App{
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.rounded-table {
    border-radius: 15px;
    overflow: hidden;
}
